.body_register{
    background: url(src/image/bookstore.jpg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 600px;
    margin: 0;
    padding: 0;
    width: 100vw; /* Chiều rộng của body bằng toàn bộ chiều rộng của màn hình */
    height: 100vh; /* Chiều cao của body bằng toàn bộ chiều cao của màn hình */
    font-family: "Roboto Slab", serif;
  
    .wrapper{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 350px;
      height: 350px;
      text-align: center;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 12px;
      padding: 10px 20px;
      background: transparent;
      backdrop-filter: blur(10px);
      box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
      .sign-up{
        text-decoration: none;
        color: rgba($color: #fdfdfd, $alpha: 1.0);
      }
      .register{
        background: #24a0ff;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 400;
        border-radius: 45px;
        width: 200px;
        height: 30px;
        margin-bottom: 5px;
        color: hsl(0, 0%, 100%);
      }
      .forgot{
        text-decoration: none;
        position: relative;
        color: rgb(255,255,255,0.712);
        &:hover{
          text-decoration: underline;
          color: #fffffffd;
        }
      } 
      
    }
    .noAccount{
      text-decoration: none;
      position: relative;
      color: rgba(3, 150, 255, 0.712);
      font-weight: 400;
      
    }
    h2{
      font-size: 35px;
      color: #fffefe;
      
    }
    .input-field {
      position: relative;
    
      #email,
      #password,
      #password-again {
        border-radius: 10px;
        background: transparent;
        margin: 15px;
        border: 1px solid rgb(255, 255, 255);
        width: 280px;
        padding: 10px 40px 10px 10px;
        backdrop-filter: blur(15px);
      }
    
      #email::placeholder,
      #password::placeholder,
      #password-again::placeholder {
        color: rgb(249, 249, 249);
      }
    
      .i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: rgb(252, 252, 252);
      }
    }
  }
  